In [5]:
import pandas as pd

df = pd.read_csv("C:/Users/USER/Desktop/project 4.2/python/data/loan_data.csv")
df.head()

   loan_amount  term  income  credit_score repayment_status  default
0        50000    12   60000           720           active        0
1       120000    24   45000           580        defaulted        1
2        80000    18   70000           650           active        0
3       150000    36   40000           550        defaulted        1
4        60000    12   90000           690           active        0

In [6]:
df = df.rename(columns={'default': 'defaulted'})
df[['repayment_status', 'defaulted']].head()

  repayment_status  defaulted
0           active          0
1        defaulted          1
2           active          0
3        defaulted          1
4           active          0

In [8]:
features = ['loan_amount', 'term', 'income', 'credit_score']
X = df[features]
y = df['defaulted']

In [9]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = RandomForestClassifier()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 1.0

In [10]:
new_applicant = pd.DataFrame([{
    'loan_amount': 75000,
    'term': 24,
    'income': 300000,
    'credit_score': 640
}])

prediction = model.predict(new_applicant)
print("Risk Prediction:", "Default" if prediction[0] == 1 else "Safe")

Risk Prediction: Safe

In [12]:
import joblib
joblib.dump(model, "risk_model.pkl")

['risk_model.pkl']